{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on Wallink.ru{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you need to finish activation process on Wallink.ru.{% endblocktrans %}

{% trans "Please go to the following page to activate account:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Wallink.ru team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you need to finish activation process on Wallink.ru.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p><a href="{{ url|safe }}">{{ url|safe }}</a></p>

<p>{% trans "Thanks for using wallink.ru!" %}</p>

<p>{% blocktrans %}The Wallink.ru team{% endblocktrans %}</p>

{% endblock html_body %}
